{% extends "blogs/_base.html" %}

{% block title %}Главная | Мой первый сайт{% endblock title %}
{% block content %}

        <div class="row">
            <h2>Привет мир!</h2>
                <strong>
                    {{blog.name}}
                </strong>   
                    <ul type="circle">
                        {%for blog in blogs%}
                            <li>{{blog.name}}, автор: {{blog.author.name}}, дата публикации: {{blog.publication_date}}</li>
                        {%endfor%}
                    </ul>
                
        </div>
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-end">
            <li class="page-item disabled">
              <a class="page-link">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="{% url 'first_page' %}">1</a></li>
            <li class="page-item active"><a class="page-link" href="{% url 'blogs_index' %}">2</a></li>
            <li class="page-item"><a class="page-link" href="{% url 'user_page' %}">3</a></li>
            <li class="page-item"><a class="page-link" href="{% url 'friend_page' %}">4</a></li>
              <a class="page-link" href="{% url 'user_page' %}">Next</a>
            </li>
          </ul>
        </nav>

    
{% endblock content %}